*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	min-height: 100vh;
	font-family: "Sofia Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--primary-bg-color: #000;
	--secondary-bg-color: #262626;
	--tertiary-bg-color: #202020;
	--top-to-bottom-overlay: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
	--bottom-to-top-overlay: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 40.74%);
	--primary-red-color: #FE3652;
	--primary-red-color-rgb: 254, 54, 82;
	--primary-gray-color: #3b3b3c;
	--font-color-white: #fff;
	--font-color-black: #000;
	--font-color-gray: #86898A;
	--delimiter: #1A1A1A;
	--max-width: 130rem;
	--border-bottom-right-radius-1: 3rem;
	--border-bottom-right-radius-2: 5rem;
	--border-bottom-right-radius-3: 10rem;

	font-size: 10px;
}

.wrapper {
	padding-inline: calc((100vw - var(--max-width)) / 2);
}

.button {
	padding: 0.8rem 3.2rem;
	width: max-content;
	height: max-content;
	background-color: #505050;
	color: var(--font-color-white);
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.3s;
}

.button:hover {
	background-color: var(--primary-red-color);
	cursor: pointer;
}

.top-to-bottom-overlay {
	position: absolute;
	inset: 0;
	background: var(--top-to-bottom-overlay);
	opacity: 0.6;
}

.text-gray {
	color: var(--font-color-gray);
}

.text-uppercase {
	text-transform: uppercase;
}

.text-bold {
	font-weight: 700;
}

.pointer {
	cursor: pointer;
}

.bordered-title {
	padding-block: 1.3rem;
	padding-left: 2rem;
	color: var(--font-color-white);
	border-left: 1rem solid var(--primary-red-color);
	font-size: 3.6rem;
	text-transform: uppercase;
}

.news-card {
	display: grid;
	background-color: var(--primary-bg-color);
	color: var(--font-color-white);
	cursor: pointer;
}

.news-card .card-image {
	position: relative;
}

.news-card .card-image .title {
	position: absolute;
	font-size: 1.3rem;
}

.news-card .card-image .overlay {
	position: absolute;
	inset: 0;
	background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 49.7%);
}

.news-card:hover .description {
	color: var(--primary-red-color);
	transition: all 0.3s;
}

.big-news-card .card-image .title {
	left: 3rem;
	bottom: 1.5rem;
}

.small-news-card .card-image .title {
	left: 2rem;
	bottom: 1.4rem;
}

.big-news-card {
	grid-template-rows: auto 42%;
	height: 40rem;
	border-bottom-right-radius: var(--border-bottom-right-radius-2);
}

.big-news-card .description {
	padding: 0 3rem 3rem;
	font-size: 3rem;
	font-weight: 700;
	line-height: 3.4rem;
}

.small-news-card {
	grid-template-rows: auto 47%;
	height: 32rem;
	border-bottom-right-radius: var(--border-bottom-right-radius-1);
}

.small-news-card .description {
	padding: 0 2rem 2rem;
	font-size: 2.2rem;
	font-weight: 700;
	line-height: 2.8rem;
}

.header {
	margin-bottom: 3.2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}