*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	min-height: 100vh;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--primary-bg-color: #000;
	--primary-red-color: #fe3652;
	--secondary-red-color: #7f1b29;
	--font-color-white: #fff;
	--font-color-gray: #828586;
	--button-bg: #505050;
	--max-width: 130rem;

	font-size: 10px;
}

.wrapper {
	padding-inline: calc((100vw - var(--max-width)) / 2);
}

.button {
	padding: 0.5rem 1.5rem;
	width: max-content;
	background-color: var(--button-bg);
	color: var(--font-color-white);
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

.diagonal-line {
	width: 3rem;
	border-bottom: 0.2rem solid #505050;
	transform: rotate(-65deg);
	transform-origin: top left;
}